<div class="full">

	<img src="https://cdn.tgdd.vn/Files/2015/08/27/690856/iphone_6c-1-2.jpg" id="logo">
	<app-menu></app-menu>
	<app-category></app-category>
	<app-home></app-home>
	<!-- <router-outlet></router-outlet> -->
	<footer>
		<p>Công ty TNHH Thanhdv</p>
		<p>
			Địa chỉ: Thôn Lập Thành, xã Mỹ Bằng, huyện Yên Sơn, tỉnh Tuyên Quang.
		</p>
		<p>Tổng đài hỗ trợ: 0357692534 -
			Email: thanhdvph06975@fpt.edu.vn</p>
		<p>
			© 2020 - Bản quyền thuộc về Công ty TNHH Thanhdv</p>
	</footer>
</div>