<div class="product">
	<img src="https://dummyimage.com/200/cc3535/fff">
<div class="content">
	<p>Name: Item 1</p>
	<p>Price: 200$</p>
  <button>Show detail</button>
  <button>Buy</button>
</div>
</div>
<div class="product">
	<img src="https://dummyimage.com/200/cc3535/fff">
<div class="content">
	<p>Name: Item 2</p>
	<p>Price: 200$</p>
  <button>Show detail</button>
  <button>Buy</button>
</div>
</div>
<div class="product">
	<img src="https://dummyimage.com/200/cc3535/fff">
<div class="content">
	<p>Name: Item 3</p>
	<p>Price: 200$</p>
  <button>Show detail</button>
  <button>Buy</button>
</div>
</div>
<div class="product">
	<img src="https://dummyimage.com/200/cc3535/fff">
<div class="content">
	<p>Name: Item 4</p>
	<p>Price: 200$</p>
  <button>Show detail</button>
  <button>Buy</button>
</div>
</div>
<div class="product">
	<img src="https://dummyimage.com/200/cc3535/fff">
<div class="content">
	<p>Name: Item 5</p>
	<p>Price: 200$</p>
  <button>Show detail</button>
  <button>Buy</button>
</div>
</div>
<div class="product">
	<img src="https://dummyimage.com/200/cc3535/fff">
<div class="content">
	<p>Name: Item 6</p>
	<p>Price: 200$</p>
  <button>Show detail</button>
  <button>Buy</button>
</div>
</div>
