.product{
  float: left;
  width: 30%;
  margin: 0 1% 50px 2%;
  background: rgb(215, 216, 216);
}

.product:hover{
  border: 1px solid black;
}

.content{
 padding-left: 10px;
}

button{
  width: 40%;
  margin-left: 12px;
  background: blue;
  color: white;
  height: 30px; 
  border: none;
  margin-bottom: 5px;
}

button:hover{
  background: orange;
}

img{
  width: 100%;
}