*{
box-sizing: border-box;
}
body{
  background-image: url("https://i.pinimg.com/originals/81/64/a8/8164a8276c68b5fc78b5d4cb9b93db8f.gif");
}
.full{
  position: relative;
  width: 1100px;
  height: 1400px;
  border: 1px solid rgb(224, 214, 214);
  margin: auto;
}

#logo{
  width: 100%;
  height: 300px;
}

footer{
  color: white;
  width: 100%;
  text-align: center;
  background: #333;
  bottom: 0;
  position: absolute;
}